@charset "utf-8";.iu_autocomplete{display:none;position:absolute;background-color:#fff;height:auto;padding-top:5px;padding-bottom:5px;border:1px
solid #ddd}.iu_autocomplete
li{overflow:hidden;padding-top:3px;padding-bottom:3px;padding-left:10px;color:#666;font-size:12px;text-align:left;height:15px;cursor:pointer}.iu_autocomplete_li_selected{background-color:#f1f2f7}.iu_autocomplete_li_hightlight{font-weight:bold;color:black}.iu_mselect_system_select{display:inline-block;position:relative;border:1px
solid #ddd;font-weight:normal;color:#555;cursor:default;height:100%;line-height:30px}.iu_mselect_system_select
option{height:20px;line-height:20px}.iu_mselect_frame{position:relative;display:inline-block}.iu_mselect_button{border:1px
solid #ddd;font-weight:normal;color:#51667A;padding:5px
5px 5px 10px;cursor:default;position:relative;text-align:left}.iu_mselect_text{display:inline-block;word-break:break-all;text-align:left;color:#51667A}.iu_mselect_triangle_down{border-style:solid;border-left-width:6px;border-right-width:6px;border-top-width:8px;border-left-color:transparent;border-right-color:transparent;border-bottom-color:transparent;border-top-color:#51667A;border-bottom-width:0;display:inline-block;cursor:pointer;position:absolute;top:40%;right:8px}.iu_mselect_triangle_up{border-style:solid;border-left-width:6px;border-right-width:6px;border-bottom-width:8px;border-left-color:transparent;border-right-color:transparent;border-top-color:transparent;border-bottom-color:#51667A;border-top-width:0;display:inline-block;cursor:pointer;position:absolute;top:40%;right:8px}.iu_mselect_button:hover{color:#657F98}.iu_mselect_select{padding:3px
8px;max-height:200px;border:1px
solid #aaa;display:none;overflow:auto;background-color:#fff;position:absolute;top:100%;z-index:20;text-align:left;color:#51667A}.iu_mselect_option{border:1px
solid transparent;padding:3px;margin:5px
0px;cursor:default}.iu_mselect_option_selected{border-color:#ddd;background-color:#E4F6E4;padding:3px;border-radius:3px;margin:5px
0px}.iu_mselect_option_hover{background-color:#E4F6E4;padding:3px;margin:5px
0px;border-radius:3px}.iu_mselect_selected
.iu_mselect_select{display:block}.iu_mselect_selected
.iu_mselect_button{border-color:#999;color:#555}.iu_promptareacode_ac{position:relative;left:0;top:0;text-align:left}.iu_promptareacode_curac{position:relative;top:0;left:0;width:70px;height:31px;line-height:31px;background-color:#E8EAE9;cursor:pointer}.iu_promptareacode_curac>div{vertical-align:middle;display:inline-block;zoom:1;*display:inline}.iu_promptareacode_curac
.iu_promptareacode_country_flag{width:45px;background-repeat:no-repeat;margin-right:5px;text-align:right;vertical-align:top}.iu_promptareacode_curac
.iu_promptareacode_triangleDown{width:0px;height:0px;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #FFF;cursor:pointer;position:relative;border-top-color:#979797;vertical-align:middle}.iu_promptareacode_acul{position:absolute;top:32px;left:0;width:309px;height:182px;overflow:auto;border:1px
solid #959595;border-top:0;background-color:#fff;z-index:902}.iu_promptareacode_acli{padding:5px
8px;min-height:16px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;cursor:pointer}.iu_promptareacode_acli:hover{background-color:#DDD}.iu_promptareacode_acli_selected,.iu_promptareacode_acli_selected:hover{background-color:#bbb}.iu_promptareacode_acli>div{vertical-align:middle;display:inline-block;zoom:1;*display:inline}.iu_promptareacode_accf{width:16px;height:11px;margin-right:5px}.iu_promptareacode_accn{margin-right:8px}.iu_promptareacode_acac{color:#666}.iu_promptareacode_ac ::-webkit-scrollbar{height:16px;width:12px;overflow:visible}.iu_promptareacode_ac ::-webkit-scrollbar-button{height:0;width:0}.iu_promptareacode_ac ::-webkit-scrollbar-thumb{background-color:rgba(0,0,0,.2);background-clip:padding-box;border:solid transparent;border-width:0 0 0 1px;min-height:28px;padding:100px
0 0;-webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07)}.iu_promptareacode_ac ::-webkit-scrollbar-thumb:horizontal{border-width:7px 0 0;padding:0
0 0 100px;-webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset -1px 0 0 rgba(0,0,0,.07);box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset -1px 0 0 rgba(0,0,0,.07)}.iu_promptareacode_ac ::-webkit-scrollbar-thumb:hover{background-color:rgba(0,0,0,.4);-webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,.25);box-shadow:inset 1px 1px 1px rgba(0,0,0,.25)}.iu_promptareacode_ac ::-webkit-scrollbar-thumb:active{background-color:rgba(0,0,0,.5);-webkit-box-shadow:inset 1px 1px 3px rgba(0,0,0,.35);box-shadow:inset 1px 1px 3px rgba(0,0,0,.35)}html{overflow-y:scroll}p{margin:0;padding:0}input[type=radio]{display:none}.cs_input{width:310px;height:32px;padding:5px
10px;box-sizing:border-box;border:1px
solid #D2D9DB;border-radius:2px}.cs_input::-webkit-input-placeholder{color:#D2D9D8}.cs_input:-moz-placeholder{color:#D2D9D8}.cs_input::-moz-placeholder{color:#D2D9D8}.cs-input:-ms-input-placeholder{color:#D2D9D8}.box{width:20px;height:20px;background:url(../../images/user/ic_check_off.png) no-repeat;background-size:cover;position:absolute;left:40px;top:13px}.box.select{background:url(../../images/user/ic_check_on.png)}.main{min-width:960px;display:table;margin:0
auto;font-family:"Microsoft YaHei",Arial,sans-serif}.main
.inner{vertical-align:middle;width:auto;margin:0
auto 113px;padding:0
10px}.title_bar{font-size:30px;width:100%;height:40px;padding:30px
0;border-bottom:1px solid #D8D8D8;color:#34485E}.f_radio{-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}.left{vertical-align:top}.title{font-size:18px;color:#34485E;margin:30px
0 20px}.title
.text{vertical-align:top;display:inline-block;margin-top:8px;margin-left:10px;font-size:20px;color:#bdbdbd}.left
tr{height:40px;color:#34485E}.left
th{border-bottom:1px solid #D2D9DB;font-weight:normal}.left
.core_function{width:278px;font-size:12px;border:1px
solid #D2D9DB;display:inline-block;vertical-align:inherit}.left .core_function
th{color:#7B90A1;height:65px;padding-left:31px;text-align:left;box-sizing:border-box}.left .core_function
td{padding:0
30px;line-height:16px}.left tr:nth-child(even){background-color:#F8F9FB}.left tr:nth-child(odd){background-color:#FFF}.left
.select_type{display:inline-block;width:191px;border:1px
solid #D2D9DB;font-size:14px;color:#34485E;text-align:center;margin-left:-5px;vertical-align:inherit;box-sizing:border-box;position:relative}.left .select_type:hover{margin-top:-20px;cursor:pointer;z-index:1}.left .select_type:hover tr:last-child{height:60px}.left .select_type:hover
.tb_title{height:85px;padding-top:20px}.left .select_type:hover{background:rgba(255,255,255,0.00);border:1px
solid #D2D9DB;box-shadow:0 0 12px 0 #D2D9DB}.left .select_type
th{height:65px;box-sizing:border-box;padding-left:65px;padding-top:10px;position:relative;text-align:left;display:block}.select_type
.account_type{line-height:25px;font-size:20px;text-align:left}.en_us .select_type
.account_type{font-size:16px}.select_type
.type_fit{font-size:10px;color:#7B90A1;margin-top:4px}.select_type
.tick{background:url(../../images/user/ic_tick_green.png) no-repeat;background-size:20px 20px;background-position:50%}.left .select_type
.tb_title{display:block;height:65px}.left .select_type tr,
.left .select_type
tbody{display:block;box-sizing:border-box}.en_us .split_joint td,
.en_us
.split_joint{height:65px}.en_us .cooperation td,
.en_us .cooperation,
.en_us .premium13 td,
.en_us .premium13,
.en_us .premium14 td,
.en_us .premium14,
.en_us .upload td,
.en_us
.upload{height:50px}.select_type
td{height:40px;box-sizing:border-box;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;align-items:center}.left .basic
.account_type{color:#7B90A1}.left .senior
.account_type{color:#F46E0B}.left .team
.account_type{color:#19BC9C}.right
.content_switch{text-align:center;font-size:18px}.right .content_switch
#for_email_reg{margin-right:4px}.right .content_switch
.switch_btn{background-color:#FFF;width:150px;height:36px;line-height:34px;box-sizing:border-box;border:1px
solid #D2D9DB;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;color:#34485E}.right .content_switch .switch_btn:hover{cursor:pointer}.right .content_switch
.switch_btn.switch_selected{border:2px
solid #19BC9C;color:#19BC9C;line-height:32px}.right
.signupform{margin-left:42px}.right .signupform
.title{font-size:18px;width:260px}.right .signupform
.reg_body{width:300px;margin:30px
0 0;padding:0
5px;color:#69737C}.right .signupform
.hidden{display:none}.right .signupform
.item{margin-top:30px;font-size:14px;color:#69737C;width:310px}.right .signupform
.item.middle{margin-top:20px}.right .signupform .item.pwdstr,
.right .signupform
.item.repwd{margin-top:10px}.right .signupform .item
.i_left{display:block}.right .signupform .item
.i_right{display:block;margin-top:8px;position:relative;width:310px}.right .signupform .item
.tip{font-size:12px}.right .signupform .item .tip
a{text-decoration:underline;cursor:pointer;color:#161E00}.right .signupform .item
.t_left{margin-right:38px}.right .mt24
label{display:inline-block;width:100px}.right .mt24 label:hover{cursor:pointer}.right .mt24 label
span{margin-left:30px;vertical-align:middle}.right .item .cs_button_big,
.main
.btn_signup{width:310px;height:48px;line-height:48px;background-color:#19BC9C;border-radius:2px;font-size:24px}.right .item .cs_button_big:hover,
.main .btn_signup:hover{background-color:#36d4b4}.warn{color:#A30C0C;width:240px;font-size:12px;position:absolute;top:95px;right:80px}.i_warn{vertical-align:top;margin-top:3px;display:inline-block}.content
.mt22{margin-top:22px}.content
.mt24{margin-top:24px}.right .signupform
.item.privacy{margin-top:20px;line-height:16px;font-size:12px;color:#34485E;width:300px;padding:0
5px}.signupform
div.tip{margin-top:20px;padding:0
5px;color:#34485E;font-size:12px}.signupform
.error_tip{color:#2577A7;font-size:14px;line-height:20px;padding-left:3px}.pwdstr_line{margin-top:4px;height:4px;background-color:#EAEAEA;width:310px}.signupform .item .i_right
.error_msg{width:300px;min-height:20px;border:solid 1px #F39B9B;background-color:#fed1d1;color:#E66666;border-radius:4px;display:none;margin-top:3px;padding-left:5px;font-size:12px;line-height:20px}.signupform .item .i_right
.error_msg.agree_msg{top:-1px}.signupform .item .i_right
.icon_ok{position:absolute;left:270px;top:5px;display:none}.icon_ok{width:24px;height:20px}.signupform .item .i_right
.icon_ok.agree_msg{top:-1px}.signupform
.btn_db{width:270px;font-size:24px;height:40px;line-height:40px}.signupform
.btn_lb{width:238px}.rn{width:60px;height:20px;display:inline-block;margin:-2px 81px -5px 0;float:right;font-size:12px;line-height:20px;cursor:pointer;color:#FFF;min-width:0;background-color:#69737C;border-radius:2px}.rn:hover{background-color:#6e6e6e}.success{text-align:center;color:#757575;padding-bottom:40px}.success
.title{font-size:24px;width:640px;margin:20px
auto 0;color:#757575}.success
.content{text-align:center;width:640px;margin:46px
auto 0}.success .content
p{font-size:16px}.success .content
.c_email{color:#25cac4;margin-top:15px;margin-bottom:15px}.success .content
.btn_check{margin:47px
auto;width:270px;height:40px;font-size:18px;line-height:40px}.success
.tip{font-size:14px;color:#999;text-align:center;width:640px;margin:52px
auto 0}.success
.btns{font-size:25px;color:#297db4;text-align:center;width:640px;margin:30px
auto 0}.sever_busy{text-align:center}.sever_busy
.title{font-size:17px;color:#999}.sever_busy
.btns{margin-top:30px}.send_frequent{text-align:center}.send_frequent
.title{font-size:17px;color:#999}.send_frequent
.btns{margin-top:30px}.icon_modify_fail{margin-top:35px;margin-bottom:10px}.btn_resend{width:270px;height:40px;text-align:center;font-size:18px;line-height:40px;margin:10px
auto}.smallfont{font-size:12px}.item_resend_link{margin-top:10px;font-size:12px;color:#34485E}.link_resend_active{cursor:pointer;text-decoration:underline}.email_img{background:url(../../images/pic_mail.png);width:136px;height:136px;margin:80px
auto 0}.free_icon,.pro_icon{color:#888;font-size:13px}.setcode_input{width:200px;vertical-align:top}.setcode_img:hover{cursor:pointer}.setcode_img{display:inline-block;vertical-align:top;height:30px;width:98px;border:1px
solid black;margin-left:5px;border-radius:1px}@media (max-width: 1250px){.left
.select_type{width:140px}.left .select_type
th{padding-left:45px}.box{left:20px}.left
.core_function{width:240px}.left .core_function
td{padding:0
10px}.left .core_function
th{padding-left:10px}.en_us .select_type
.type_fit{margin-left:-20px;text-align:center}}@media (max-width: 1060px){.left
.select_type{width:115px}.left .select_type
th{padding-left:23px}.box{left:2px}.left
.core_function{width:240px}.left .core_function
td{padding:0
10px}.left .core_function
th{padding-left:10px}}