.ic_container{
    vertical-align:baseline;
    margin:0px;
    position:relative;
    /*-moz-border-radius:10px;
    -webkit-border-radius:10px;
    -khtml-border-radius:10px;
    -moz-box-shadow: 0 1px 3px #888;
    -webkit-box-shadow: 0 1px 3px #888;*/
}
.ic_overlay{
    opacity:0.3;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.ic_caption{
	position:absolute;
/*	opacity:0.8;
*/	overflow:hidden;
	margin:0px;
	padding:5px 0 0 0px;
	left:0px;
	right:0px;
	cursor:default;
/*    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
*/	background: url(../imgs/tile_pink.png);
}
.ic_category{
    text-transform:uppercase;
    font-size:11px;
    letter-spacing:3px;
    padding:5px;
    margin:0px;
}
.ic_caption h3{
    padding:0px 5px 0px 5px;
    margin:0px;
    font-size:12px;
	line-height:16px;
}
.ic_text{
    padding:0 8px 0 8px;
    margin:0px;
    font-size:12px;
	line-height:16px;
	color:#fff;
}
.ic_caption a, .ic_caption a:link, .ic_caption a:visited {
	color:#ffffff;
	text-decoration:none;
	margin-top:10px;
	display:block;
	text-transform:uppercase;
	font-size:11px;
	font-weight:600;
	line-height:14px;
}
.ic_caption a:hover {text-decoration:underline;}