/* ==== ROBOT REGISTRATION ==== */
.registration-form {
  /* ---- END Robot Registration ---- */
}
.registration-form .registration-step-1 {
  position: relative;
}
.registration-form .registration-step-1:before {
  background: #ebebeb;
  bottom: 18px;
  content: '';
  position: absolute;
  left: 50%;
  top: 5px;
  width: 1px;
}
.registration-form .registration-step-1:after {
  clear: both;
  content: '';
  display: block;
}
.registration-form .registration-step-1.logged-in {
  margin: 0 0 20px;
  padding: 0 0 20px;
}
.registration-form .registration-step-1.logged-in .registration-create-account {
  margin: 0;
}
.registration-form .registration-step-header {
  border-bottom: 1px solid #ebebeb;
  margin: 0 0 20px;
  padding: 0 0 20px;
}
.registration-form .registration-step-heading {
  font-size: 1.5em;
  font-weight: 500;
  margin: 0 0 10px;
}
.registration-form .registration-substep-heading {
  font-size: 1.25em;
  font-weight: 500;
  margin: 0 0 10px;
}
.registration-form .registration-substep-heading-text {
  padding: 0 5px 0 0;
}
.registration-form .registration-substep-link {
  font-size: 0.75em;
  font-weight: normal;
}
.registration-form .registration-create-account,
.registration-form .registration-login {
  box-sizing: border-box;
  float: left;
  width: 50%;
}
.registration-form .registration-login {
  padding: 0 0 0 25px;
  position: relative;
}
.registration-form .registration-create-account {
  padding: 0 25px 0 0;
}
.registration-form .registration-robot-information {
  border: 0;
  box-sizing: border-box;
  float: left;
  margin: 0;
  padding: 0 25px 0 0;
  width: 50%;
}
.registered-robots-list {
  margin: 15px 0 0;
  padding: 0;
}
.registered-robots-list .registered-robot {
  display: block;
}
.registered-robots-list .registered-robot + .registered-robot {
  border-top: 1px solid #ebebeb;
  margin: 15px 0 0;
  padding: 15px 0 0;
}
.registered-robots-list .robot-info {
  margin: 0 0 10px;
}
.registered-robots-list .robot-info th {
  padding: 0 15px 0 0;
  text-align: right;
}
.registered-robots-list .robot-name-row {
  font-size: 1.25em;
}
.registered-robots-list .serial-number-cell {
  word-break: break-all;
}
.serial-number-finder {
  box-sizing: border-box;
  float: left;
  padding: 0 0 0 25px;
  width: 50%;
  -webkit-user-select: none;
  /* === DEFAULT DESKTOP STATE === */
  /* === ALT STATES WHEN INTERACTED WITH === */
}
.serial-number-finder .serial-number-finder-heading {
  font-size: 1.25em;
  font-weight: 500;
  margin: 0 0 10px;
}
.serial-number-finder .family-list,
.serial-number-finder .series-list {
  margin: 0;
  padding: 0;
}
.serial-number-finder .robot-family-header,
.serial-number-finder .robot-series-header {
  cursor: pointer;
  padding: 10px 0 10px 60px;
  padding: 10px 0 10px\9;
  /* IE8 EXCEPTION - KILL ASAP! */
  position: relative;
}
.serial-number-finder .robot-family-header::before,
.serial-number-finder .robot-series-header::before {
  border: 0 solid transparent;
  border-width: 10px 17px;
  content: '';
  position: absolute;
  left: 16px;
  top: 50%;
  margin: -15px 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.serial-number-finder .robot-series-header {
  margin: 0 0 0 30px;
  padding: 10px 0 10px 60px;
  padding: 10px 0 10px 25px\9;
  /* IE8 EXCEPTION - KILL ASAP! */
}
.serial-number-finder .family-list + .family-list {
  border-top: 1px solid #ebebeb;
  padding: 15px 0;
}
.serial-number-finder .robot-family,
.serial-number-finder .robot-series {
  display: block;
}
.serial-number-finder .robot-series {
  padding: 15px 0;
}
.serial-number-finder .family-image,
.serial-number-finder .series-image,
.serial-number-finder .serial-location-image {
  vertical-align: middle;
}
.serial-number-finder .family-image,
.serial-number-finder .series-image {
  margin: 0 15px 0 0;
}
.serial-number-finder .serial-location-image {
  height: auto;
  max-width: 100%;
}
.serial-number-finder .robot-family .robot-family-header:before {
  border-left-color: #64a70b;
}
.serial-number-finder .robot-family .series-list {
  display: none;
}
.serial-number-finder .robot-family.expanded .robot-family-header {
  background: #f7f7f7;
}
.serial-number-finder .robot-family.expanded .robot-family-header:before {
  border-left-color: #666;
  left: 8px;
  margin: -6px 0 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.serial-number-finder .robot-family.expanded .series-list {
  display: block;
}
.serial-number-finder .robot-series .robot-series-header::before {
  border-left-color: #64a70b;
}
.serial-number-finder .robot-series .serial-location-wrapper {
  display: none;
}
.serial-number-finder .robot-series.expanded .robot-series-header {
  background: #f7f7f7;
}
.serial-number-finder .robot-series.expanded .robot-series-header::before {
  border-left-color: #666;
  left: 8px;
  margin: -6px 0 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.serial-number-finder .robot-series.expanded .serial-location-wrapper {
  display: block;
}
.register-success-form {
  padding: 15px 50px;
}
.register-success-form .register-success-message {
  margin: 0 0 15px;
}
.register-success-form .register-success-heading {
  font-size: 1.5em;
  font-weight: 500;
  margin: 0 0 15px;
  text-align: center;
}
.register-success-form .robot-image {
  display: block;
  margin: 0 auto;
}
.register-success-form .robot-info {
  margin: 0 auto;
}
.register-success-form .incentive-shipping-form {
  margin: 0 0 15px;
}
.register-success-form .shipping-confirmation-message,
.register-success-form .shipping-success-message {
  font-size: 1.25em;
  font-weight: 500;
  margin: 15px 0;
}
.register-success-form .shipping-success-message {
  text-align: center;
}
.register-success-form .return-to-registered-robots-link-wrapper {
  text-align: center;
}
@media (max-width: 767px) {
  .registration-form .registration-step-1:before {
    content: none;
  }
  .registration-form .registration-create-account,
  .registration-form .registration-login,
  .registration-form .registration-robot-information {
    box-sizing: content-box;
    float: none;
    padding: 0;
    width: auto;
  }
  .registration-form .registration-create-account,
  .registration-form .registration-robot-information {
    margin: 0 0 25px;
  }
  .registration-form .registration-create-account {
    border-bottom: 1px solid #000;
    padding: 0 0 30px;
  }
  .registration-form .registration-login:before {
    content: none;
  }
  .serial-number-finder {
    box-sizing: content-box;
    float: none;
    padding: 0;
    width: auto;
  }
  .serial-number-finder .serial-location-image {
    width: 100%;
  }
}