#bodyContainer,#FrameContainer{margin:0 auto;text-align:left}
#FrameContainer .onsite{width:100%}
#FrameContainer .onsite form{background:#0d3880}
#Header{position:relative;z-index:4}
.seek-network a,.seek-network strong,.seek-network span,#SeekNav dd,#SeekNav a,#SeekNav .advertisers,#SeekNav .advertisers a{background-image:url(/content/images/navigation/nav-all.png)}
.seek-network{float:right;overflow:hidden;font-size:13px;height:23px;margin:0;position:relative;z-index:2}
.seek-network a{color:#666}
.seek-network a:hover{color:#fff;text-decoration:none;background-position:99px 99px}
.seek-network a,.seek-network strong{background-repeat:repeat-x;background-position:left -174px;display:block;padding:3px 8px 5px;text-decoration:none}
.seek-network dt{display:none}
.seek-network dd{border-right:1px solid #ebebeb;float:left}
.seek-network .skl a:hover{background:#50b848}
.seek-network .skcom a:hover{background:#00ace5}
.seek-network .vol a:hover{background:#f00}
.seek-network span{width:auto;background-repeat:no-repeat;background-position:-284px -201px;border-left:none;display:inline-block;padding:0 0 0 18px}
.selected-zone{border:0;margin-left:3px}
.selected-zone strong{background-position:0 -225px;overflow:auto}
.selected-net strong{background-position:0 -200px;color:#fff}
dd.nz span{background-position:-284px -218px}
dd.au a:hover,dd.nz a:hover{background-position:bottom left;color:#333;font-weight:bold}
dd.end-zone{border-right:0}
dd.end-zone a{color:#666;background-position:right -174px}
#SeekLogo,#SeekLogo+a{background-repeat:no-repeat;height:105px;width:550px;top:0;left:0;text-indent:-999px;display:inline-block;position:absolute;z-index:0}
#SeekLogo{position:absolute;left:-20px;bottom:0;background-position:20px -134px}
#SeekLogo+a{position:absolute;top:20px;height:45px;width:300px;z-index:10}
#Login{position:absolute;bottom:56px;right:6px;z-index:2;background-image:none}
#MobileSwitch a{display:block;left:42px;top:-54px;position:absolute;z-index:100}
#SeekNav{height:26px;width:auto;padding-top:59px;margin:0 7px 0 50px;position:relative;top:1px;clear:both;text-align:left;font:bold 12px arial}
#SeekNav dt{display:none}
#SeekNav dd,#SeekNav a{float:left;background-repeat:no-repeat;background-position:left top;text-decoration:none;white-space:nowrap;cursor:pointer}
#SeekNav dd{height:26px;padding-left:3px;margin:0 2px}
#SeekNav dd:hover,#SeekNav .selected-tab{background-position:0 -28px;text-decoration:none}
#SeekNav a,#SeekNav span{color:#666;height:20px;background-position:right top;padding:5px 8px 2px}
#SeekNav a:hover,#SeekNav dd:hover a,#SeekNav .selected-tab a{color:#fff;background-position:right -28px}
.body-home-index #SeekNav dd,.body-jobsearch-index #SeekNav dd{height:27px}
#SeekNav .advertisers,#SeekNav .advertisers a{background-repeat:no-repeat;background-position:left -86px}
#SeekNav .advertisers,#SeekNav .alliance-logo{float:right;height:41px;position:relative;margin:-16px 2px 0 0}
#SeekNav .advertisers a{color:#E60A7C;height:30px;background-position:right -86px;padding:7px 15px 4px}
#SeekNav dd.advertisers{height:41px}
#Header .advertisers:hover,#Header .advertisers:hover a{background-position:0 -129px}
#Header .advertisers a:hover{color:#FFF;background-position:right -128px}
#SeekNav dd.alliance-logo{background-image:none;left:5px;position:relative;top:10px;width:105px}
.alliance #SeekNav{padding-top:50px}
.alliance #Login{bottom:50px}
.body-home-index #SeekNav{padding-top:66px}
.body-home-index #Login{bottom:62px}
#Divider,.divider-lt,.divider-rt,.main-page{background:url(/content/images/layout/container-top-sprite.png) repeat-x 0 -103px}
#Divider{width:100%;overflow:hidden;height:12px}
.divider-lt,.divider-rt{display:block;float:left;height:12px;width:5px;background-position:left 0}
.divider-rt{float:right;padding-right:5px;background-position:10px -12px}
.main-page{margin:0 2px;padding-top:10px;background-color:#f3f8ff;background-position:0 -200px;z-index:3;position:relative}
.content{margin:0 11px;padding:5px 12px;background:#fff;position:relative;z-index:3;top:4px;min-height:200px}
#Footer a.security,.form-msg.success,.save a:first-child,.employment-index-video dd dt:first-child,.employment-index-video dd dt,.au .employment-index .article-side h3:first-child,.au .employment-index .article-side h3,.nz .employment-index .article-side h3:first-child,.nz .employment-index .article-side h3,.market-research .content dl dt:first-child,.market-research .content dl dt,.screen-msg,.jobapply-submitted dl,.jobapply-submitted h1,.success-msg{background:url(/content/images/icons/icons_sm_all4.png) no-repeat top left}
.more,.more a,.related-links dd,.browse .arrow,.quickSearch .arrow,.quickSearch .arrow2,.quickSearch #addsalary,.advancedSearch .quickSearchTop,.advancedSearch .quickSearchBottom,.miniSearch .adv-search-link,.questions li,.employment-index-video li>dl>dd>ul li:first-child,.employment-index .employment-index-video li dl dd dl dd ul li,.employment-index .article-side div ul li,.market-research .content dl dd ul li,.sidearrow,.screen-msg span,.jobsearch-index .box-shadow h3+a,.miniSearch .grad-search-link,.miniSearch .arrow,.miniSearch .arrow2,.jobapply-submitted li,a.adv-search-link{background:url(/content/images/icons/icons_arrows_bullets_2.png) no-repeat left}
.box-arrow{background:url(/content/images/layout/pink-arrows-large.png) no-repeat 0 0}
.joblisting-index #ReportThisAdSuccess .panel-form{background-image:url(/content/images/icons/icons-global.png);background-repeat:no-repeat}
.invalid,.valid,.incomplete{display:block;background:url(/content/images/icons/icons_user_messages.png);background-repeat:no-repeat}
.css-arrow{font-size:0;line-height:0;width:0;height:0;border-style:solid;border-color:transparent}
.seeker-frame{position:relative;width:860px}
.f-tp,.f-tp-lt,.f-tp-rt,.f-bm,.f-bm-lt,.f-bm-rt,.f-bm-space{position:absolute;background-image:url(/content/images/layout/sp-frameEdges.png);z-index:1}
.f-tp,.f-bm,.f-bm-space{background-repeat:repeat-x;margin:0;height:16px;width:822px}
.f-tp{background-position:0 -540px;top:-11px;left:18px}
.f-tp-lt{background-position:0 -77px;top:-20px;left:-2px;height:30px;width:20px}
.f-tp-rt{background-position:-3px -283px;top:-20px;right:0;height:30px;width:20px}
.f-bm{background-position:0 -26px;bottom:-30px;left:18px}
.f-bm-space{bottom:-14px;left:18px}
.f-bm-lt{background-position:0 -228px;bottom:-25px;left:-2px;height:25px;width:20px}
.f-bm-rt{background-position:-8px -456px;bottom:-25px;right:0;height:25px;width:20px}
.f-rt,.f-lt{position:absolute;display:block;background-image:url(/content/images/layout/sp-frameRepeater.png);background-repeat:repeat-y;height:100%;width:20px}
.f-lt{background-position:-139px 0;top:10px}
.f-rt{background-position:8px 0;right:0;top:10px}
.support-panel,.panel{position:absolute;top:48px;width:321px;right:-310px;border:#E1EFFB 1px solid;background:#FBFEFF url(/content/images/layout/panel-gradient.png) repeat-y left}
.support-panel{padding:15px 0 15px 20px;border-left:none;z-index:1}
.panel{top:15px;width:182px;left:-180px;padding:10px 0 10px 8px;background-position:top right;border-right:0;z-index:2}
.support-panel .drop-shadow,.panel .drop-shadow{position:absolute;bottom:-20px;height:19px;width:90px;background:url(/content/images/layout/panel-drop.png) top left}
.support-panel .drop-shadow{left:0}
.panel .drop-shadow{background-position:top right;right:0}
#Footer{background:#f3f8ff;padding:30px 0;margin:0 2px}
#Footer,#Footer p{font-size:11px;color:#999;text-align:center}
#Footer a{color:#06c;padding-right:16px}
#Footer p{margin:10px 0}
#Footer a.promise-link,#Footer a.privacy,#Footer a.security{padding-right:0}
#Footer a.security{background-position:-2px -688px;padding-left:13px}
a.more,.more a{background-position:3px -711px;padding-left:12px;color:#036}
.home-index a.more,.home-index .more a,.home-index .more{background:0;padding:0;color:#036}
.hide{display:none}
#BrowseJobs li span,.home-index .more span{display:inline-block;background:0;margin:4px 0 0;padding:0;height:0;width:0;border:4px solid #fff;border-left-color:#8a8a8a}
#BrowseAllJobs h2{font-size:14px;font-weight:normal;margin-bottom:8px}
#BrowseAllJobs dd{border-left:1px solid #acacac;padding:0 6px 0 8px}
#BrowseAllJobs dt+dd{border-left-width:0;padding-left:0}
#BrowseJobs{display:none;width:auto;overflow:hidden;margin:15px auto;text-align:left;line-height:20px}
#BrowseJobs ul{padding:0}
#BrowseJobs li{color:#7D7D7D;font-size:12px;list-style-type:none}
#BrowseJobs li span{border-left-color:#E60A7C}
.home-index .more{text-align:left;width:auto}
.int-parteners{position:relative;z-index:5}
.int-parteners .main-bubble{text-align:left;display:none;position:absolute;height:170px;width:270px;right:-90px;top:-210px;z-index:5;font-size:9pt;text-align:left;color:#000;line-height:17px}
.int-parteners .main-bubble .help-content{margin-top:3px}
.int-parteners .main-bubble #IntHeading{color:#E60A7C;font-size:11pt;font-weight:normal;line-height:23px}
.int-parteners .main-bubble a{font-size:8pt;list-style-type:none}
.int-parteners .main-bubble .closehelp{top:5px;cursor:pointer}
.int-parteners .main-bubble strong{margin-left:-16px;color:#999}
.int-parteners .main-bubble.displayLinks{display:block}
#technicalissues{top:84px;left:22px;width:275px;height:95px}
#technicalissues span{height:15px;width:17px;left:auto;top:0}
#technicalissues span a{width:auto;font-size:12px;display:inline}
#technicalissues .help-content{height:auto;width:auto}
#technicalissues strong{color:#000}
#technicalissues .bh-rb,#technicalissues .bh-lb,#technicalissues .bh-bp{height:19px;bottom:-19px;top:auto;left:-17px}
#technicalissues .bh-rt,#technicalissues .bh-rb,#technicalissues .bh-rs{right:-17px;left:auto}
#technicalissues .bh-lt,#technicalissues .bh-rt,#technicalissues .bh-tp{top:-15px;width:17px}
#technicalissues .bh-pointer{width:72px;height:43px;background-position:-457px -20px;top:-47px}
#technicalissues .bh-ls,#technicalissues .bh-rs{height:100%;top:0}
#technicalissues .bh-tp,#technicalissues .bh-bp{width:100%;left:0}
#technicalissues .bh-ls,#technicalissues .bh-lt{left:-17px}
.cobrand #Footer{padding:10px 0 2px 0;background-color:Transparent}
.cobrand #Footer a{padding:0}
.cobrand .main-page{padding-bottom:10px}
.cobrand-seek-terms{text-align:center;font-family:Arial;font-size:12px;padding-top:6px}
#HomePageLayout #bodyContainer,#HomePageLayout #Header{width:822px}
.deprecated{color:#777}
#SkyscraperBanner{margin-top:40px;padding-left:1px}
#LeaderBoardBanner{text-align:center}
#LeaderBoardBanner iframe{background-color:#F3F8FF;text-align:center;vertical-align:middle;margin-bottom:9px;margin-top:-9px}
label{display:inline-block;text-align:right;color:#212121;font-size:14px;position:relative;font-weight:700;padding-right:4px}
input[type="checkbox"]+label,input[type="radio"]+label{font-weight:normal}
textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"]{width:100%;border-color:#d6d6d6;display:inline-block;border:1px solid #d6d6d6;margin:9px 0;padding:8px 10px;display:inline-block;padding:6px;font-size:12px;line-height:inherit;color:#212121;border-radius:2px}
select{border:1px solid #d6d6d6;line-height:36px;margin:9px 0;height:36px;border-radius:2px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
select[multiple],select[size]{height:auto}
.form-submit{color:#898989}
.form-submit>span,.form-submit form>span{padding:8px 4px 0 20px;display:inline-block}
.form-msg,.field-msg{display:none;border:1px solid #dadada}
.field-msg.invalid,.field-msg.valid,.form-msg.invalid,.form-msg.valid{display:block}
.form-msg{padding:5px 16px 5px 28px;margin:0 0 8px}
.form-msg.valid{background-position:9px -680px}
.field-msg{padding:5px 2px 5px 20px;margin:0;width:174px}
.invalid{background-color:#ffd9d9;background-position:7px -432px}
.field-msg.invalid{background-position:4px -206px}
.valid{background-color:#e2f5e1}
.field-msg.valid{background-position:4px 9px}
.incomplete{background-position:4px -105px;background-color:#e9f4ff}
.checking{display:inline-block;background:#e9f4ff url(/content/images/icons/icon_checking.gif) no-repeat 4px 6px}
.registerscreen .form-msg{margin:0}
.initialRegisterState span.field-msg{color:#1A1A1A}
.form-msg.success{background-position:10px -1062px;border:1px solid #FD9FD0;color:#E60A7C;margin-bottom:16px;padding:17px 0 17px 45px;width:360px;display:block}
.registerscreen .field-msg.invalid.suggestion{background-image:url(/content/images/icons/icons_user_messages_1.png);background-position:0 -144px}
.myaccount-index-loggedin h2.myacc-welcome p.valid{color:#1A1A1A}
#bodyContainer .form-msg ul{margin:6px 0;padding-left:17px}
#bodyContainer .form-msg ul li{margin-bottom:2px;list-style-type:disc;padding:0}
input.valid,textarea.valid,select.valid{background-color:#fff;background-image:none}
.field-validation-valid.invalid,.field-validation-valid.valid,.field-validation-valid.incomplete,.field-validation-valid.checking,.field-validation-error.invalid,.field-validation-error.valid,.field-validation-error.incomplete,.field-validation-error.checking{border:1px solid #DADADA;display:inline-block;padding:1px 2px 0 20px;width:190px;background-position:4px -210px}
.field-validation-valid.valid,.field-validation-error.valid,[class|="myaccount"] .field-msg.valid{background-position:4px 5px}
.field-validation-valid.incomplete,.field-validation-error.incomplete,[class|="myaccount"] .field-msg.incomplete{background-position:4px -109px}
.field-validation-valid.checking,.field-validation-error.checking{background-position:3px 2px}
.topmsg{padding:5px 16px 4px 28px;background-position:8px 6px}
#LightboxContainerGreen{position:fixed;top:48px;left:0;width:100%;text-align:center;z-index:1001}
.cobrand #LightboxContainerGreen{top:188px}
#bodyContainer.register-index{width:576px}
#LightboxContainerGreen .LightboxModal{width:530px;display:none;top:27px;margin:0 auto;background:#fff;padding:8px;position:relative;z-index:1001;background-color:#e5e5e5;-moz-box-shadow:0 0 25px #111;-webkit-box-shadow:0 0 25px #111;box-shadow:0 0 25px #111;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px}
#LightboxContainerGreen .LightboxContent{background:#fff;height:100%;width:100%;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px}
#LightboxContainerGreen .LightboxContent{background-color:#c7e396;width:548px;position:relative;padding:4px 0 14px 0;width:100%;text-align:left}
#LightboxContainerGreen .LightboxContent h1{font-size:20px;color:#346600;font-weight:bold;margin:10px 0 10px}
#LightboxContainerGreen .LightboxContent p{color:#000;font-size:16px}
#LightboxContainerGreen .LightboxContent img{float:left;margin:8px 10px 20px 20px}
#JustSavedSearchMessage #LightboxContainerGreen .LightboxModal{top:100px;padding-bottom:9px;width:380px}
#JustSavedSearchMessage.jobmail-msg #LightboxContainerGreen .LightboxModal{width:425px}
#JustSavedSearchMessage #LightboxContainerGreen .LightboxContent{padding:12px 0 14px 0}
#JustSavedSearchMessage #LightboxContainerGreen .LightboxContent img{margin-top:1px}
#JustSavedSearchMessage.jobmail-msg #LightboxContainerGreen .LightboxContent img{margin-top:13px}
#JustRegisteredMessage #LightboxContainerGreen .LightboxModal h1,#JustRegisteredMessage #LightboxContainerGreen .LightboxModal p{margin-left:20px}
.lightbox input[type="text"],.lightbox input[type="password"]{margin-left:4px;width:200px;font-size:16px;height:23px;padding:2px 4px 0}
.lightbox{display:block;padding:13px 18px 20px 16px;width:496px;position:relative;top:0}
.lightbox h1 span{font-size:12px;color:#999;display:block;text-align:right;margin-top:-15px;margin-bottom:1px;margin-right:7px}
.lightbox h1{margin-bottom:16px;margin-top:0}
.lightbox h2{font-weight:normal;color:#212121}
.lightbox legend{display:none}
.lightbox label{width:130px}
.lightbox input[type="checkbox"]{width:auto}
.lightbox ul{color:#999;padding:2px 0 0 15px;margin:0}
.lightbox ul li{text-indent:-2px;padding:3px 0 0;list-style:disc}
p.lightbox-top-nav{background:#f5f5f5;position:absolute;top:0;right:0;padding:0 5px 0 5px;margin:0;background:-webkit-gradient(linear,center top,center bottom,from(#fbfbfb),to(#f5f5f5));background:-moz-linear-gradient(top,#fbfbfb,#f5f5f5);background:-o-linear-gradient(top,#fbfbfb,#f5f5f5);-pie-background:linear-gradient(top,#fbfbfb,#f5f5f5)}
p.lightbox-top-nav a{padding:15px 10px;display:inline-block;font-size:12px}
p.lightbox-top-nav span{border-left:#e5e5e5 1px solid;display:inline-block}
.lightbox .btn{text-transform:none}
.lightbox .pink-btn-lge{vertical-align:middle}
.lightbox-promo a{display:inline-block;font-size:14px;margin:0 18px}
.lightbox-promo strong{margin:0 -18px 0 18px;font-size:14px;font-weight:normal}
.lightbox-promo span:first-child{display:block;height:10px;background-position:left top}
.registerscreen .lightbox-promo{width:574px}
#LoginValueText{color:#707070;display:block;padding:2px 0 0 18px;background-image:none}
#FormValidationMessage{display:none}
#FormValidationMessage.topmsg{display:block}
.lightbox-promo{display:block;padding:10px 0;margin:0 -17px;border:1px solid #d9d9d9;border-top:1px solid #d0d0d0;background:#EEE;width:528px;border-radius:2px 2px 3px 3px;-moz-border-radius:2px 2px 3px 3px;-webkit-border-radius:2px 2px 3px 3px;-khtml-border-radius:2px 2px 3px 3px;background:-webkit-gradient(linear,center top,center bottom,from(#f0f0f0),to(#dcdcdc));background:-moz-linear-gradient(top,#f0f0f0,#dcdcdc);background:-o-linear-gradient(top,#f0f0f0,#dcdcdc);-pie-background:linear-gradient(top,#f0f0f0,#dcdcdc)}
strong.forgot-password a{display:block;padding:15px 0 0 0;font-weight:normal}
.main-page .lightbox{padding:0 0 0 5px;border:0}
.login-forgotpassword .lightbox{padding-bottom:15px;width:500px}
.main-page .lightbox h1{padding-top:15px}
.main-page .lightbox-promo{background:0;padding:15px 0 5px;position:static;border:0}
.main-page .lightbox-promo span{display:none}
.loginscreen label{padding:0;top:-1px}
.loginscreen .login ol{padding-top:22px;position:relative;z-index:10}
.loginscreen ol input{width:223px}
.loginscreen ol li:first-child{margin-bottom:6px}
.loginscreen ol li a{position:relative;top:-2px;margin-left:2px}
.loginscreen .form-msg{margin:0}
.loginscreen .remember{margin-left:98px;padding-bottom:18px}
.loginscreen .remember input[type="checkbox"]{border:0 none;padding:0;position:relative;top:7px}
.loginscreen .remember label{padding:0;font-size:9pt;color:#000;position:relative;top:5px;width:185px;text-align:left;padding-left:5px}
.login label{width:90px}
.login p{position:relative;left:97px;top:0;padding-bottom:10px}
#lightboxIntro{padding:12px;margin:28px 0 5px 0;background-color:#fffcc9;font-size:14px;color:#1A1A1A}
#lightboxIntro span{display:block;padding-top:7px}
.loginscreen #advertiserLogin{background:#f2f2f2;float:right;height:35px;padding:19px 15px;width:152px;margin-top:21px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.loginscreen #advertiserLogin strong{font-size:13px}
.registerscreen{width:520px}
.registerscreen h1{overflow:hidden}
.registerscreen .duplicate-email{display:none}
.registerscreen h1.duplicate-email{margin:0 0 6px 0}
.registerscreen small,.registerscreen .emails .remember span,.initialRegisterState span,li.sub-text{color:#999}
.registerscreen ol li{margin-bottom:8px}
.registerscreen input[type="text"],.registerscreen input[type="password"]{width:193px;font-size:13px}
.registerscreen .login-details ol{padding:14px 0 0 0;margin-right:-6px}
.registerscreen .login-details ol li:first-child{margin-top:0}
.registerscreen .login-details label{width:109px;top:-2px}
.registerscreen fieldset ol li.heading{color:#666}
.registerscreen fieldset ol li.heading strong{display:inline-block;width:109px;top:-2px;text-align:right;font-size:15px;margin-right:8px}
.registerscreen .form-submit>span{padding-top:8px;padding-left:0}
.registerscreen .login-details .field-msg{right:0;width:180px}
.registerscreen #FindPassword{display:none;font-size:16px;position:relative;text-align:center;margin:15px 0 0 0}
.registerscreen #FormValidationMessage{margin:0 -6px 0 0}
.registerscreen #ConfirmPassword{margin-bottom:5px}
.registerscreen .login-details #RememberMe{margin-left:136px}
.registerscreen .login-details #RememberLabel{width:191px;color:#000;top:-1px}
.registerscreen .emails li.remember{margin:0 0 15px 0;padding:0}
.registerscreen .emails ol.remember{margin:0}
.registerscreen .emails ol li label{left:2px;top:-2px}
.registerscreen .remember label{font-size:9pt;width:185px;text-align:left}
.registerscreen #sendLoginPrompt{display:none;background:#F2F2F2;padding:10px 0 10px 10px;position:relative;left:-5px;margin:10px -15px 10px 0;font-size:14px;line-height:20px}
.registerscreen #sendLoginPrompt strong{font-style:italic}
#SecondRegisterSection li.sub-text,.general-form li.sub-text{padding-left:138px;margin-top:-16px}
.general-form li.sub-text{margin-top:0}
#aboutYouDetails select{margin:0;font-size:13px;height:25px;width:394px}
#aboutYouDetails input[type="text"]{width:384px}
#aboutYouDetails select.from-month,.registerscreen #aboutYouDetails select.to-month{width:95px}
#aboutYouDetails select.from-year,.registerscreen #aboutYouDetails select.to-year{width:60px}
#aboutYouDetails #timeInRoleDetails strong{display:inline-block;margin:0 8px;color:#666}
#aboutYouDetails #timeInRoleDetails input[type="checkbox"]{position:relative;top:2px}
#aboutYouDetails #timeInRoleDetails label{top:0}
#aboutYouDetails #timeInRoleDetails #nowLabel{width:29px;color:#1A1A1A}
#aboutYouDetails ol{padding-bottom:7px}
#aboutYouDetails .field-msg{width:370px;position:relative;top:0;left:134px}
#aboutYouDetails .input-validation-error{border-color:#f00}
#aboutYouDetails select.input-validation-error{background-color:#ffd9d9}
.ui-autocomplete{width:348px;overflow:auto;min-height:23px;max-height:184px;padding:1px 0;background-color:#fff;border:1px solid #666;-moz-border-radius:3px;-webkit-border-radius:3px}
.ui-autocomplete li{text-align:left;padding:0 1px}
.ui-autocomplete a{display:block;padding:3px 0 3px 5px;border:1px solid #fff;-moz-border-radius:3px;-webkit-border-radius:3px}
.ui-autocomplete .ui-state-hover{border:1px solid #83b5e7;background-color:#f5faff;text-decoration:none}
#PreApply .not-now,#PostApply .not-now{position:absolute;font-size:12px}
#PreApply.loginscreen .not-now{top:17px;left:112px}
#PreApply.registerscreen .not-now{bottom:60px;left:260px}
#PreApply.registerscreen #FindPassword .not-now{top:13px;left:300px}
#PreApply.registerscreen #FindPassword{margin-right:150px;margin-bottom:10px}
#PreApply.choose-login .not-now{top:56px;right:60px}
#PreApply.forgotdetails .not-now{bottom:44px;left:160px}
.login-details ol li{position:relative}
.login-details .field-msg{position:absolute;top:0;right:-7px}
.emails label:first-child{display:block;width:105px;color:#212121;padding-top:12px}
.emails label small{display:block}
.emails label{color:#000;width:auto}
.emails ol{padding:8px 0 6px 0;margin:0 -6px 0 0}
.emails input[type="checkbox"]{top:2px;left:-2px;margin:0}
.emails li input#ENewsSeekLearning{margin-left:121px}
.emails li input#ENewsSeek{margin-left:121px}
.emails .remember{margin:0 0 16px 0;padding-left:121px}
.emails li p{vertical-align:middle;display:inline-block;padding:0}
.emails .pink-btn-lge{vertical-align:top}
.initialRegisterState{height:auto}
.forgotdetails input[type="text"]{width:312px}
.forgotdetails label{width:auto}
.forgotdetails .submit{margin:14px 0 20px}
.forgotdetails a{margin:0 0 0 2px}
.forgotdetails .pink-btn-lge{margin:0 6px 0 42px;vertical-align:middle}
.forgot-password-sent{min-height:100px}
.forgot-password-sent p{padding-bottom:10px}
.forgot-password-sent h3{color:#000;font-size:12px;font-weight:bold;margin-bottom:0}
.forgot-password-sent ul{margin:0 0 10px 22px}
.forgot-password-sent ul li{list-style:disc;color:#000;padding:1px 0 0 0}
.forgot-password-sent div{text-align:left}
.change-password{padding-bottom:30px}
.change-password div{margin:8px 0 0 108px}
.change-password ol>li{margin-bottom:8px}
.change-password .form-msg{margin:0}
.change-password .field-msg{right:-5px;width:159px}
.change-password .form-submit{margin-top:16px;position:relative;left:107px}
.choose-login{padding-bottom:30px}
.choose-login div,.choose-login p,.choose-login div+span{display:inline-block}
.choose-login p,.choose-login div+span{vertical-align:top;margin:11px 0 0 0}
.choose-login p{color:#212121;padding-right:15px}
.choose-login div+span{padding:0 24px 0 0;color:#999}
.choose-login .lightbox-promo{margin-left:-16px;width:513px}
#PreApply.choose-login{padding-bottom:0}
.duplicate-email h1{margin-bottom:9px}
.duplicate-email h1+p{font-weight:bold;margin-bottom:17px}
.account-disabled{padding-bottom:15px}
.emailsent ul{color:#000;margin:0 0 15px;padding:11px 0 0}
.emailsent ul p{margin:0;font-weight:bold}
.emailsent li{margin:0 0 0 25px}
.keywords-content{max-height:400px;overflow:auto;width:490px}
.myaccount-viewjobmailexample .lightbox h1 a{top:17px}
.myaccount-viewjobmailexample .lightbox img{margin:10px 0 0 -4px}
.myaccount-expressionofinteresetpreview dt{color:#212121;padding:2px 0}
.myaccount-expressionofinteresetpreview dd{padding-bottom:8px}
.apply-tips,#ResumeTips.show,#SelectionCriteriaTips.show,#ProtectPrivacyTips.show{border:1px solid #DCDCF9;background-color:#F6FBFF}
.apply-tips dt{font-weight:bold}
.apply-tips{padding:3px 10px;position:relative;top:-22px;margin-bottom:12px}
#ResumeTips,#SelectionCriteriaTips,#ProtectPrivacyTips{position:relative;top:-22px;left:60px;font-size:11px;padding:2px 7px}
#SelectionCriteriaTips{left:182px}
#ResumeTips.show,#SelectionCriteriaTips.show,#ProtectPrivacyTips.show{border-width:1px 1px 0 1px;padding:1px 6px;z-index:1}
.myaccount-index-loggedin .apply-tips{top:-27px;margin-right:12px;margin-bottom:-27px}
.myaccount-index-loggedin #ResumeTips,.myaccount-index-loggedin #ProtectPrivacyTips{left:300px;top:-35px;padding:2px 7px 9px}
#deleteUploadedResumeBubble,#deleteSEEKResumeBubble,#deleteSavedSearchBubble{position:relative}
.bubble-delete{background:url(/content/images/layout/bubble.png) no-repeat scroll left top transparent;height:93px;left:-155px;padding:14px 0 0 20px;position:absolute;text-align:left;top:-100px;width:214px;z-index:50}
[class^="bubble-help"]{display:block;position:absolute;top:0;right:0;width:100%;background:#fff;z-index:10}
.help-content{margin:10px;display:block}
.bh-lt,.bh-rt,.bh-tp,.bh-bp,.bh-ls,.bh-rs,.bh-rb,.bh-lb,.bh-pointer,.bh-close{display:block;background-image:url(/content/images/layout/bubble_help_bg.png);background-repeat:no-repeat;background-position:0 0;position:absolute;z-index:1}
.bh-lt,.bh-rt,.bh-tp{top:-15px;height:15px;width:17px}
.bh-rb,.bh-lb,.bh-bp{bottom:-19px;height:19px;width:17px}
.bh-rt,.bh-rb,.bh-rs{right:-17px}
.bh-lt,.bh-lb,.bh-ls{left:-17px}
.bh-ls,.bh-rs{top:0;background-repeat:repeat-y}
.bh-tp,.bh-bp{left:0}
.bh-ls,.bh-rs{width:17px;height:100%}
.bh-tp,.bh-bp{width:100%;background-position:-17px top}
.bh-lt{background-position:-30px -17px}
.bh-rt{background-position:-60px -17px}
.bh-rs{background-position:right 0}
.bh-rb{background-position:-90px -17px}
.bh-bp{background-position:-17px bottom}
.bh-lb{background-position:-120px -17px}
.bh-ls{background-position:0 -17px}
.bh-pointer{height:43px;width:72px;background-position:-150px -20px;bottom:-50px;left:35%}
.closehelp{display:block;position:absolute;background:url(/content/images/icons/icons-sm.png) no-repeat 0 0;height:12px;width:12px;top:0;right:0}
.bubble-help-top .bh-pointer{background-position:-465px -17px;bottom:auto;top:-50px;left:30%}
.bubble-help-left .bh-pointer{background-position:-935px -3px;bottom:10px;left:-50px;height:72px;width:43px}
.bubble-help-right .bh-pointer{background-position:-786px -3px;bottom:5px;left:auto;right:-50px;height:72px;width:43px}
.bubble-help-right-bottom .bh-pointer{background-position:-886px -3px;bottom:5px;left:auto;right:-50px;height:72px;width:43px}
.bubble-help-bottom-right .bh-pointer{background-position:-260px -17px;bottom:-50px;left:auto;right:38px;height:43px;width:72px}
#promotions{width:100%;overflow:hidden;min-height:118px;padding:16px 0 12px;text-align:center;position:relative;margin-bottom:0}
#promotions dd{display:none;vertical-align:top;padding:0 0 0 21px;margin-left:44px}
#promotions.display dd{display:inline-block}
#promotions dd:first-child{padding-left:0;margin-left:2px}
#promotions .mod-skl-tile{margin-left:44px}
#promotions .mod-skl-tile p{padding:41px 0 0 1px;margin:0 0 7px 0}
#promotions .mod-skl-tile .state-button-lmis{padding:6px 3px;line-height:10px}
a[class*="btn-"],a[class*="btn-"]:link,a[class*="btn-"]:visited,a[class*="btn-"]:focus,a[class*="btn-"]:hover,a[class*="btn-"]:active{text-decoration:none}
[class*="btn-"],[class*="btn-"] strong,[class*="btn-"] span,[class*="btn-"] input,[class*="btn-"].disabled,[class*="btn-"].disabled strong,[class*="btn-"].disabled span,[class*="btn-"].disabled input{text-align:center;position:relative;width:auto;color:#797979;height:auto;font-weight:normal;font-size:12px;border:0;vertical-align:middle;padding:0;margin:0;background:url(/content/images/buttons/btn-grey.png) no-repeat;cursor:pointer}
[class*="btn-"],[class*="btn-"].disabled{padding-left:6px;margin-right:8px;margin-left:0;background-position:top left}
[class*="btn-"] strong,[class*="btn-"] span,[class*="btn-"] input,[class*="btn-"].disabled strong,[class*="btn-"].disabled span,[class*="btn-"].disabled input{background-position:top right;margin-right:-7px;padding-left:6px;padding-right:12px}
[class*="btn-"]:hover,[class*="btn-"].disabled:hover{text-decoration:none;cursor:pointer}
[class*="btn-"]:hover strong,[class*="btn-"]:hover span,[class*="btn-"]:hover input,[class*="btn-"].disabled:hover strong,[class*="btn-"].disabled:hover span,[class*="btn-"].disabled:hover input{background-position:right -29px}
[class*="btn-"].disabled:hover{background-position:top left}
[class*="btn-"].disabled:hover strong,[class*="btn-"].disabled:hover span,[class*="btn-"].disabled:hover input{background-position:right top;cursor:default}
head ~ body [class*="btn-"],head ~ body [class*="btn-"] strong,head ~ body [class*="btn-"] span,[class*="btn-"] input{display:inline-block}
[class*="btn-sm"] strong,[class*="btn-sm"] span,[class*="btn-sm"] input{font-size:11px;height:19px;line-height:19px;padding-bottom:1px}
[class*="btn-sm"] input{background-position:right 1px;position:relative;top:-1px;height:21px}
[class*="btn-sm"]:hover input{background-position:right -25px}
[class*="btn-sm"]:hover{background-position:0 -26px}
[class*="btn-sm"]:hover strong,[class*="btn-sm"]:hover span{background-position:right -26px}
[class*="btn-med"]{background-position:0 -55px}
[class*="btn-med"] span,[class*="btn-med"] strong,[class*="btn-med"] input{font-size:12px;line-height:29px;height:30px;background-position:right -55px}
[class*="btn-med"] input,.jobsByButton_ a{height:32px;background-position:right -53px;position:relative;top:-2px}
[class*="btn-med"]:hover input{background-position:right -95px}
[class*="btn-med"]:hover{background-position:0 -97px}
[class*="btn-med"]:hover strong{background-position:right -97px}
[class*="btn-lge"]{background-position:0 -138px;padding-left:8px}
[class*="btn-lge"] span,[class*="btn-lge"] strong,[class*="btn-lge"] input{font-size:16px;line-height:40px;height:41px;background-position:right -138px;font-weight:bold}
[class*="btn-lge"] input{padding-bottom:6px}
[class*="btn-lge"]:hover{background-position:0 -190px}
[class*="btn-lge"]:hover input,[class*="btn-lge"]:hover strong{background-position:right -190px}
[class*="pink-btn"],[class*="pink-btn"] strong,[class*="pink-btn"] span,[class*="pink-btn"] input{background-image:url(/content/images/buttons/btn-pink1.png);font-weight:bold;color:#fff;text-shadow:-1px 1px 0 #df1967}
[class*="pink-btn"].disabled,[class*="pink-btn"].disabled strong,[class*="pink-btn"].disabled span,[class*="pink-btn"].disabled input{text-shadow:none}
[class*="search-btn"],[class*="search-btn"] strong,[class*="search-btn"] input,[class*="advsearch-btn"],[class*="advsearch-btn"] strong{background-image:url(/content/images/buttons/btn-search.png);font-weight:bold;color:#fff;text-shadow:none}
.search-btn-sm{background-position:0 -3px;padding-left:8px}
span.search-btn-sm input,a.search-btn-sm strong{font-size:14px;line-height:28px;height:26px;position:relative;top:0;background-position:right -3px}
.search-btn-sm:hover{background-position:0 -35px}
.search-btn-sm:hover input,.search-btn-sm:hover strong{background-position:right -35px}
.search-btn-med{background-position:0 -69px;padding-left:8px}
span.search-btn-med input{font-size:15px;line-height:34px;height:34px;position:relative;top:0;background-position:right -69px}
.search-btn-med:hover{background-position:0 -110px}
.search-btn-med:hover input{background-position:right -110px}
.search-btn-lge,span.search-btn-lge input,.search-btn-lge:hover,.search-btn-lge:hover input{background:url(/content/images/buttons/btn-pink1.png)}
.search-btn-lge{background-position:0 -140px;padding-left:8px}
span.search-btn-lge input{font-size:16px;line-height:39px;height:39px;position:relative;top:0;background-position:right -140px;width:62px;padding-bottom:3px}
.search-btn-lge:hover{background-position:0 -192px}
.search-btn-lge:hover input{background-position:right -192px}
a.advsearch-btn-med{background-position:0 -317px;color:#fff}
.advsearch-btn-med strong{font-size:15px;font-weight:normal;line-height:33px;height:34px;background-position:right -317px}
.advsearch-btn-med:hover{background-position:0 -352px}
.advsearch-btn-med:hover strong{background-position:right -352px}
.joblisting-printjob .date{color:#464646;font-size:11px;padding:0 0 10px;text-align:right;width:460px;display:block}
.body-joblisting-printjob p,td{line-height:normal}
#bodyContainer.joblisting-printjob{padding-top:20px;width:480px}
#ErrorEmailForm .form-submit-action{margin-left:-30px}
#ErrorEmailForm.state-stacked-form{padding:20px 30px;margin-top:25px}
#ErrorEmailForm .state-stacked-form .mod-field input[type="text"]{padding:9px;border:1px solid #d6d6d6;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}
#ErrorEmailForm li.mod-field:last-child{margin-bottom:32px}
#ErrorEmailForm input[disabled]{background:none repeat scroll 0 0 #EFEFEF}
#ErrorEmailForm textarea{min-height:120px}
.success-msg{background-position:18px -1063px;border:1px solid #FD9FD0;margin:5px 5px 15px;padding:15px;text-indent:40px;color:#898989}
.success-msg span{color:#E60A7C}
.success-msg p{margin-bottom:2px}
#form-msg-info{margin:30px 0 10px 20px;padding-top:10px;width:603px;position:relative;border:1px solid #ccc;background-color:#ff9;display:none}
#form-msg-info a{position:absolute;top:10px;right:10px}
#form-msg-info strong,#form-msg-info p{padding:10px 0;margin:0 10px}
.pagination .nextPage span{background-image:url(/content/images/icons/icons_arrows_bullets_2.png);background-repeat:no-repeat}
.pagination{width:825px;position:absolute;bottom:-50px;padding-left:10px}
.pagination,.pagination dl{background:url(/content/images/layout/pagination-border.png) no-repeat top left}
.pagination dd.currentPage,.pagination dd.currentPage span{background:url(/content/images/layout/paginationSelected-border.png) no-repeat top left}
.pagination dl{margin:0 0 0 10px;background-position:top right;position:relative;z-index:2}
.pagination dl,.pagination dt,.pagination dd,.pagination dd.currentPage span{height:35px;display:block}
.pagination dt,.pagination dd{float:left;padding:4px 5px 0 5px;margin:0}
.pagination dt{color:#212121;padding-left:5px}
.pagination dd.currentPage{padding:0;font-weight:bold;color:#E60A7C}
.pagination dd.currentPage span{display:inline-block;padding:4px 8px 0 4px;margin-left:4px;background-position:top right}
.pagination .nextPage{float:right;margin-right:20px}
.pagination .nextPage span{margin-left:4px;padding-right:3px;background-position:1px -1333px}
.f-bm{z-index:1}
.JSPPeekdown{background:url(/content/images/layout/peekdown-bg-blue-stripes.png) top repeat-x;height:51px;display:none}
.cobrand .JSPPeekdown{margin-top:2px}
.cobrand #nmsnhd .JSPPeekdown{margin-top:-2px}
.au.cobrand .JSPPeekdown .peek span.text{font-size:13px}
.JSPPeekdown div.peek{width:853px;margin:0 auto;background:url(/content/images/layout/peekdown-icons.png) top left no-repeat;height:31px;font-size:14px;padding-top:20px;letter-spacing:0}
.JSPPeekdown div a{font-weight:bold}
.JSPPeekdown #CloseBtn{float:right;color:#06C;cursor:pointer}
.JSPPeekdown h1,.cobrand .JSPPeekdown h2{font-weight:bold;float:left;margin:-4px 5px 0 55px;color:#E60A7C;font-size:18px}
.JSPPeekdown h1 span,.cobrand .JSPPeekdown h2 span{font-weight:normal}
.JSPPeekdown .right-arrow{border-width:5px;border-left-color:#525252;border-right:0;float:left;margin:3px 7px 0 7px}
.JSPPeekdown span.text{display:block;float:left}
.cobrand .iPhoneAppPeekdown{margin:0}
.iPhoneAppPeekdown{background:#adadad url(/content/images/gr_bg_iphone-peakdown-banner.jpg) 0 0 repeat-x;height:60px;display:none;border-top:1px solid #565656}
.iPhoneAppPeekdown div.peek{background:url(/content/images/ico_iphoneapp.png) 20px 3px no-repeat;height:60px;width:690px;padding:0 0 0 20px}
.iPhoneAppPeekdown a{display:block;text-decoration:none;overflow:hidden;float:left}
.iPhoneAppPeekdown h1{font-size:13px;color:#111;font-weight:normal;text-shadow:0 1px 0 #fff;margin-left:62px;padding-top:23px;text-decoration:none}
.iPhoneAppPeekdown img{float:left;display:block;margin:8px 0 0 50px}
.iPhoneAppPeekdown #CloseBtn{float:right;padding:0 22px 5px 0;margin-top:5px;color:#000;cursor:pointer;background:url(/content/images/ico_banner-close.gif) 100% 0 no-repeat}
#SKLPeekdown{display:none;min-width:942px;border-bottom:1px solid #5da658;background:#5cbb55;background:-webkit-linear-gradient(top,#5cbb55 0,#4fb547 23%,#4cae45 65%,#42983c 100%);background:-moz-linear-gradient(top,#5cbb55 0,#4fb547 23%,#4cae45 65%,#42983c 100%);background:-ms-linear-gradient(top,#5cbb55 0,#4fb547 23%,#4cae45 65%,#42983c 100%);background:-o-linear-gradient(top,#5cbb55 0,#4fb547 23%,#4cae45 65%,#42983c 100%);background:linear-gradient(to bottom,#5cbb55 0,#4fb547 23%,#4cae45 65%,#42983c 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbb55',endColorstr='#42983c',GradientType=0)}
#SKLPeekdown div.peek{width:942px;margin:0 auto;padding:10px 0;text-align:center}
#SKLPeekdown span{color:#fff;font-size:18px;font-weight:500;text-shadow:1px 1px 1.5px #3f8f38}
#SKLPeekdown .skl-promo-btn{padding:5px;color:#fff;margin-left:40px;background:#09419d;background:-webkit-linear-gradient(top,#09419d 0,#0d3881 100%);background:-moz-linear-gradient(top,#09419d 0,#0d3881 100%);background:-ms-linear-gradient(top,#09419d 0,#0d3881 100%);background:-o-linear-gradient(top,#09419d 0,#0d3881 100%);background:linear-gradient(to bottom,#09419d 0,#0d3881 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#09419d',endColorstr='#0d3881',GradientType=0);-webkit-border-radius:3px;-moz-border-radius:3x;border-radius:3px}
#SKLPeekdown a:hover{text-decoration:none}
#SKLPeekdown #CloseBtn{float:right;color:#fff}
#JobseekerSurvey{background:#fbfbfb;padding:22px 0;display:none}
#JobseekerSurvey .l-row{position:relative}
#JobseekerSurvey p{color:#212121;font-size:16px;line-height:27px}
#JobseekerSurvey strong{font-size:18px;font-weight:500}
#JobseekerSurvey .close-btn{position:absolute;top:10px;right:24px}
#JobseekerSurvey .start-survey{margin-top:26px}
#satisfactionSurvey{display:none;width:942px;margin:0 auto;padding:9px 0;font-size:14px;line-height:18px}
#satisfactionSurvey{display:none;width:942px;margin:0 auto;padding:9px 0;font-size:14px;line-height:18px}
#satisfactionSurvey span{font-size:18px;display:inline-block;padding:13px 20px}
#satisfactionSurvey span:hover{cursor:pointer}
#satisfactionSurvey .modal-close.close-survey{padding:0;position:relative;top:0}
#satisfactionSurvey .state-button-primary,#satisfactionSurvey .state-button-primary:link,#satisfactionSurvey .state-button-primary:visited{color:#fff;border:1px solid #e60278;background:#e60278;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-text-shadow:none;text-shadow:none}
#satisfactionSurvey .state-button-primary:hover{background:#f2027e}
#satisfactionSurvey .state-button-primary:active{background:#cc026a}
#satisfactionSurvey .mod-button{line-height:21px;font-size:18px;font-size:1.8rem;font-weight:normal;padding:11px 20px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;cursor:pointer;display:inline-block;text-align:center;min-width:initial}
#DoubleClick160 iframe{width:160px;height:600px}
#DoubleClick728 iframe{width:728px;height:90px}
#DoubleClick468,#DoubleClick468 iframe{width:468px;height:60px}
.notification{background-color:#fffcc9;padding:8px}
#FrameContainer .error-servererror p,#FrameContainer .error-index p{font-size:13px;padding-bottom:10px}
#FrameContainer .error-servererror ul li,#FrameContainer .error-index ul li{list-style:disc}
#FrameContainer .error-servererror h1,#FrameContainer .error-index h1{margin-bottom:16px}
#FrameContainer .error-servererror div,#FrameContainer .error-index div{height:230px}
.relative-position{position:relative}
.modal.mod-tips-info{position:absolute;top:50%;padding:20px}
#ResumeWidget.modal.mod-tips-info{top:50%}
.joblisting-index{padding-top:40px}
.joblisting-index .back-to-results{position:absolute;top:-30px!important;left:-10px!important;margin-left:0!important;border:0}
.joblisting-index .back-to-results a:link,.joblisting-index .back-to-results a:visited,.joblisting-index .back-to-results a:hover{font-size:12px;color:#424242;font-weight:bold;position:absolute;width:200px;top:-7px;left:-42px}
.joblisting-index .back-to-results i{background:0;display:inline!important;vertical-align:middle!important;position:absolute}
.joblisting-index .back-to-results i:before{font-family:'SeeksIcons-Regular';content:"\E061";font-size:10px;font-style:normal;font-weight:normal}
.joblisting-index .back-to-last-page{left:0!important}
.joblisting-index .back-to-last-page a:link,.joblisting-index .back-to-last-page a:visited,.joblisting-index .back-to-last-page a:hover{width:inherit;left:-5px;padding-left:30px;padding-right:10px}
.joblisting-index .back-to-last-page i:before{padding-left:8px}
.color-primary,.color-primary:before{color:#E60A7C!important}
/*!
 * Bootstrap v2.0.0
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */.modal-open .dropdown-menu{z-index:2050}
.modal-open .dropdown.open{*z-index:2050}
.modal-open .popover{z-index:2060}
.modal-open .tooltip{z-index:2070}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}
.modal-backdrop.fade{opacity:0}
.modal-backdrop,.modal-backdrop.fade.in{opacity:.75;filter:alpha(opacity=75)}
.inline-lightbox-loading-backdrop{filter:alpha(opacity=80);opacity:.8;position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background:#000}
.inline-lightbox-loading-backdrop+.modal{width:400px;min-height:160px;background:#fff url(/Content/Images/lightbox/loader.gif) 50% 55% no-repeat;padding:13px 0 0 16px}
.inline-lightbox-loading-backdrop.hide+.modal,.modal.hide{display:none}
.inline-lightbox-loading-backdrop h1{padding:13px 0 0 16px}
.modal{position:fixed;top:40%;left:50%;z-index:1050;max-height:600px;min-height:250px;width:576px;margin:-7.5% 0 0 -280px;background-color:#fff;border:1px solid #999;border:1px solid rgba(0,0,0,0.3);*border:1px solid #999;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;-webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);-moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);box-shadow:0 3px 7px rgba(0,0,0,0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box}
.modal.fade{-webkit-transition:opacity .3s linear,top .3s ease-out;-moz-transition:opacity .3s linear,top .3s ease-out;-ms-transition:opacity .3s linear,top .3s ease-out;-o-transition:opacity .3s linear,top .3s ease-out;transition:opacity .3s linear,top .3s ease-out;top:-25%}
.modal.fade.in{top:50%}
.modal h1,.modal h2,.modal h3{margin-top:0}
.modal{-webkit-transition:min-height .3s ease-out;-moz-transition:min-height .3s ease-out;-ms-transition:min-height .3s ease-out;-o-transition:min-height .3s ease-out;transition:min-height .3s ease-out}
.modal.mini{min-height:0}
.modal.small{min-height:250px}
.modal.medium{min-height:350px}
.modal.mediumish{min-height:375px}
.modal.large{min-height:435px}
.modal.loading{background:#fff url(/Content/Images/lightbox/loader.gif) 50% 50% no-repeat}
.modal-header{background:#e1e1e1;border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;-khtml-border-radius:10px 10px 0 0;height:40px}
.modal-header ul{font-size:0;margin-top:0}
.modal-header li{display:inline-block;font-size:14px;position:relative;border-right:1px solid #cbcbcb;-moz-box-shadow:1px 0 0 0 #f0f0f0;-webkit-box-shadow:1px 0 0 0 #f0f0f0;box-shadow:1px 0 0 0 #f0f0f0}
.ie7 .modal-header li{display:inline;zoom:1}
.modal-header li a{display:block;font-weight:700;color:#06c;height:24px;width:100px;text-align:center;padding-top:8px;position:relative}
.modal-header li.active a{color:#4b4b4b;font-weight:normal;background:#fff;display:block;border:4px solid #e1e1e1;height:24px;width:100px;text-align:center;padding-top:8px;cursor:default}
.modal-header li.active a:hover{text-decoration:none}
.modal-header li.inactive a{display:block;border:4px solid #e1e1e1;height:24px;width:100px;text-align:center;padding-top:8px}
.modal-header li.register a,.modal-header li.inactive a{-webkit-border-radius:10px 0 0 0;-moz-border-radius:10px 0 0 0;border-radius:10px 0 0 0}
.modal-header li.active a:after{display:block;width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-color:rgba(255,255,255,0);border-top:10px solid #fff;position:absolute;left:50%;bottom:-10px;margin-left:-10px;z-index:3500;content:""}
.modal-header .close{margin-top:2px}
.modal-body{padding:15px}
.modal-footer{padding:14px 15px 15px;margin-bottom:0;background-color:#f5f5f5;border-top:1px solid #ddd;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;-webkit-box-shadow:inset 0 1px 0 #fff;-moz-box-shadow:inset 0 1px 0 #fff;box-shadow:inset 0 1px 0 #fff;*zoom:1}
.modal-footer:before,.modal-footer:after{display:table;content:""}
.modal-footer:after{clear:both}
.modal-footer .btn{float:right;margin-left:5px;margin-bottom:0}
.modal a.close{position:absolute;right:10px;top:8px;height:23px;width:23px;background-position:-390px -230px;z-index:1}
.modal .close:hover{background-position:-390px -253px}
.arrow-down,.modal-header .active:after{content:"";display:block;width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-color:rgba(255,255,255,0);border-top:10px solid #e1e1e1;position:absolute;left:50%;margin-left:-10px}
